.cards {
    margin-top: 10rem;
    min-height: 80vh;
    @include flex(row, space-evenly, center);
}
.card {
    padding: 1rem;
    height: 60%;
    width: 25%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include flex(column, space-evenly, center);
    transition: all 0.5s;
    color: rgb(117, 54, 117);
}
.card h2, 
.card p {
    text-align: center;
}
.card p {
    color: black;
    width: 70%;
}
.card:hover {
    margin-bottom: 0.5rem;
    background: rgb(187, 187, 187);
}