body {
    overflow-x: hidden;
}
.heading {
    position: absolute;
    text-align: center;
    top: 12%;
    right: -3%;
    width: 100%;
}
.cards {
    margin-top: 15rem;
    min-height: 80vh;
    @include flex(row, space-evenly, center);
}
.card {
    padding: 1rem 1rem 1rem 2rem;
    height: 70%;
    width: 30%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include flex(column, space-evenly, start);
    transition: all 0.5s;
    color: rgb(117, 54, 117);
}
.card p {
    color: black;
    width: 85%;
    font-size: 1.1rem;
    text-align: start;
}
.card:hover {
    margin-bottom: 0.5rem;
    background: rgb(187, 187, 187);
}

@media screen and (max-width: 800px) {
    .cards{
        flex-wrap: wrap;
    }
    .card {
        width: 18rem;
        margin: 1rem 0.5rem;
    }
}
@media screen and (max-width: 370px) {
    .card {
        height: 75%;
        width: 15rem;
        margin: 1rem 0.5rem;
    }
    .heading {
        font-size: 1.5rem;
    }
}