.form {
    @include flex(column, space-evenly, center);
    width: 30%;
    height: 70vh;
    -webkit-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
    box-shadow: -8px 3px 25px 1px rgba(0,0,0,0.75);
    opacity: 0;
    transition: all 1.5s;
    margin-top: 3.5rem;
}
.form h1 {
    padding: 0 0 1rem 0;
}
.form input {
    padding: 0.5rem 1rem;
    width: 60%;
    text-align: center;
    font-size: 1rem;
    border: 2px solid black;
}

.account {
    text-align: center;
}
#login-form {
    height: 45vh;
}
#signup-form {
    height: 75vh;
}

@media screen and (max-width: 900px) {
    .form {
        min-width: 60%;
        height: 80%;
    }
    #login-form {
        height: 50vh;
    }
}
@media screen and (max-width: 700px) {
    .form {
        min-width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .form {
        min-width: 85%;
    }
}
