//VARIABLES
//$theme-color: rgb(81, 57, 199);
$theme-color: rgb(44, 20, 165);
$button-hover-color: rgb(68, 42, 199);
$dark-text-color: #2e2e2e;
$text-color: #cecece;
$text-hover-color: #eeeeee;
$background-color: rgb(233, 233, 233);

// MIX INS
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin absolute($top, $left, $right, $bottom) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}
@mixin text($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

// Global Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background: $background-color;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.button {
    background: $theme-color;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    @include text(1rem, $text-color, normal);
    transition: all 0.4s;
    &:hover {
        cursor: pointer;
        background: $button-hover-color;
        color: $text-hover-color;
        padding: 0.6rem 1.5rem;
    }
}