.header {
    height: 10vh;
    min-height: 3.8rem;
    background: $theme-color;
    padding: 1rem;
    @include flex(row, center, center);
}
.header, nav {
    width: 100%;
}
nav, .nav-links {
    @include flex(row, space-between, center);
}
#logo {
    height: 7rem;
    width: auto;
}
.links1 {
    width: 40%;
    min-width: 25rem;
}
.links2 {
    width: 20%;
    min-width: 15rem;
}
.nav-links {
    justify-content: space-evenly;
    height: 100%;

    li {
        list-style: none;
        @include text(1.1rem, $text-color, normal);
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
            color: $text-hover-color;
            font-size: 1.2rem;
        } 
        a {
            color: $text-color;
        }
    }
}
.active {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
    color: $background-color !important;
}