.header {
    position: relative;
    height: 10vh;
    min-height: 3.8rem;
    background: $theme-color;
    padding: 1rem;
    @include flex(row, center, center);
}
.header, nav {
    width: 100%;
}
nav, .nav-links {
    @include flex(row, space-between, center);
}
.logo {
    height: 5.5rem;
    width: auto;
}
.mobile-logo {
    display: none;
}
.links1 {
    width: 55%;
    min-width: 25rem;
}
.links2 {
    width: 20%;
    min-width: 15rem;
}
.nav-links {
    justify-content: space-evenly;
    height: 100%;

    li {
        list-style: none;
        @include text(1.1rem, $text-color, normal);
        padding: 0.5rem;
        cursor: pointer;
        transition: all 0.4s;
        &:hover:not(.logo) {
            color: $text-hover-color;
            font-size: 1.2rem;
        } 
        a {
            color: $text-color;
        }
    }
}
.active {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
    color: rgb(255, 129, 230) !important;
}
.burger {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0.4rem;
    right: 2.2rem;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 50;
    display: none;
}
.burger:hover {
    width: 3.5rem;
}
.burger-line {
    width: 80%;
    min-height: 12%;
    margin: 0.1rem;
    background: rgb(199, 199, 199);
    transition: all 0.5s ease-in-out;
    opacity: 1;
}
.change-color{
    background: rgb(89, 89, 89);
}
.move-down {
    margin-top: 0.3rem;
}
.line2 {
    width: 60%;
    margin-left: 1rem;
}
.line1-anim {
    width: 85%;
    transform: rotateZ(50deg) translateY(200%);
}
.line3-anim {
    width: 85%;
    transform: rotateZ(-50deg) translateY(-280%) ;
}

// Burger Navigation Menu
.burger-nav {
    height: 100vh;
    width: 100%;
    background: rgb(111, 98, 247);
    position: absolute;
    top: 0;
    z-index: -1;
    @include flex(row, space-evenly, center);
    transition: all 1s ease-in-out;
    opacity: 0;
}
.burger-nav-links {
    height: 70%;
}
.burger-nav-links > * {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    margin: 1rem 0;
    font-weight: bold;
}
.burger-nav-links > *:hover {
    font-size: 2.1rem;
    text-decoration: underline;
}
.burger-active {
    font-size: 1.8rem;
    color: rgb(255, 129, 230);
}

@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }
    .burger {
        @include flex(column, space-evenly, flex-end);
    }
    .mobile-logo {
        display: block;
        position: absolute;
        top: -21%;
        left: 5%;
        z-index: 50;
    }
}