main {
    height: 90vh;
    min-height: 10rem;
    padding: 0.5rem;
    background-image: url('/img/bg-img.jpg');
    background-size: cover;
}
main, .main-container {
    @include flex(column, center, center);
}
.main-container {
    align-items: flex-start;
    height: 20%;
}
#home-container {
    margin-bottom: 6rem;
}
.main-container > * {
    margin: 0.5rem;
}
.main-heading {
    @include text(3rem, $dark-text-color, normal);
}
.main-sub-heading {
    @include text(1.5rem, $dark-text-color, normal);
}

/* Contact Styles */
#contact-container {
    min-height: 20rem;
}
#contact-heading {
    font-size: 3.5rem;
}
#contact-sub-heading {
    font-size: 2rem;
}
.contact {
    @include flex(column, space-evenly, flex-start);
    height: 20vh;
    li {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    main {
        background-image: url('/img/cutting-board.jpg');
        background-size: contain;
    }
}