main {
    height: 90vh;
    min-height: 30rem;
}
main, .main-container {
    @include flex(column, space-evenly, center);
}
.main-container {
    align-items: flex-start;
    height: 30%;
}
.main-heading {
    @include text(3rem, $dark-text-color, normal);
}
.main-sub-heading {
    @include text(1.5rem, $dark-text-color, normal);
}

/* Contact Styles */
#contact-container {
    min-height: 20rem;
}
#contact-heading {
    font-size: 3.5rem;
}
#contact-sub-heading {
    font-size: 2rem;
}
.contact {
    @include flex(column, space-evenly, flex-start);
    height: 20vh;
    li {
        font-size: 1.5rem;
    }
}