main {
    padding: 1rem;
}
.mobile-view {
    display: none;
}

.section2{
    :nth-child(1) {
        margin-top: 0.5rem;
    }
    > *:not(.button) {
        padding: 0.4rem 0;
    }
}

.profile {
    min-width: 45vw;
    @include flex(row, flex-start, center);
    > *{
        padding: 1rem;
    }
}
.profile-img-container {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: white;
    @include flex(row, center, center);
    cursor: pointer;
    position: relative;
}
.profile-img-container {
    overflow: hidden;

    .profile-img {
        height: 70%;
        width: auto;
    }
}
#profile-img-form {
    position: relative;
}

// POP UP UPLOAD IMG FORM
.upload-profile-img-form {
    transition: all 0.5s ease-in-out;
    background: $background-color;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 10vw;
    height: 20vh;
    border-radius: 10px;
    @include flex(column, space-evenly, flex-start);
    display: none;

    > * {
        margin-top: 0.5rem;
        width: 100%;
        text-align: center;
    }
    #profile-img-input {
        border: none;
    }
    .submit {
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .exit-btn {
        width: 20px;
        height: 20px;
        top: -10%;
        right: -3%;
        position: absolute;
        cursor: pointer;
    }
}

.actions,
.profile-heading {
    font-size: 7vw;
}

.profile-buttons {
    @include flex(column, space-evenly, flex-start);
}

.profile-button {
    width: 100%;
    text-align: left;
    margin: 0.5rem 0;
    padding: 0;
    color: $background-color;
    padding: 0.6rem 0.8rem;
    &:hover {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .mobile-view {
        display: block;
    }
    .profile-main-container {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .upload-profile-img-form {
        left: 8%;
    }
    .section1 {
        position: relative;
        right: -2%;
    }
}

@media screen and (max-width: 368px) {
    .upload-profile-img-form {
        left: 8%;
    }
    .section1 {
        right: -5%;
    }
}