<header>
    <div class="header">
        <nav class="nav">
            <ul class="nav-links links1">
                <li class="logo-container"><img class="logo" src="https://comfort-food-bucket.s3.eu-west-1.amazonaws.com/comfort-food-logo.png" alt=""></li>
                <li><a id="home" <% if ( pageName === "index" ) { %> class="active" <% } %> href="/">Home</a></li>
                <li><a <% if ( pageName === "about" ) { %> class="active" <% } %> href="/about">About</a></li>
                <li><a <% if ( pageName === "contact" ) { %> class="active" <% } %> href="/contact">Contact</a></li>
                <% if (isLoggedIn && username !== "admin") { %>
                    <li class="nav-item"><a <% if ( pageName === "myMenus" ) { %> class="active" <% } %> href="/myMenus">My Menus</a></li>
                <% } %>
                <% if (username) { %>
                    <% console.log(username) %>
                    <% if (username === "admin") { %>
                        <li class="nav-item"><a <% if ( pageName === "All Users" ) { %> class="active" <% } %> href="/users">Users</a></li>
                    <% } %>
                <% } %>
            </ul>
            <ul class="nav-links links2">
                <% console.log("Logged In: " + isLoggedIn); %>
                <% if (!isLoggedIn) { %>
                    <li><a <% if ( pageName === "signup" ) { %> class="active" <% } %> href="/signup">Sign Up</a></li>
                    <li><a <% if ( pageName === "login" ) { %> class="active" <% } %> href="/login">Login</a></li>
                <% } else { %>
                    <li><a <% if ( pageName === "myProfile" ) { %> class="active" <% } %> href="/profile">My Profile</a></li>
                    <li><a <% if ( pageName === "login" ) { %> class="active" <% } %> href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>

        <img class="mobile-logo logo" src="https://comfort-food-bucket.s3.eu-west-1.amazonaws.com/comfort-food-logo.png" alt="">

        <div class="burger">
            <div class="burger-line line1"></div>
            <div class="burger-line line2"></div>
            <div class="burger-line line3"></div>
        </div>

        <nav class="burger-nav">
            <ul class="burger-nav-links">
                <li><a <% if ( pageName === "index" ) { %> class="burger-active" <% } %> href="/">Home</a></li>
                <li><a <% if ( pageName === "about" ) { %> class="burger-active" <% } %> href="/about">About</a></li>
                <li><a <% if ( pageName === "contact" ) { %> class="burger-active" <% } %> href="/contact">Contact</a></li>
                <% if (isLoggedIn && username !== "admin") { %>
                    <li class="nav-item"><a <% if ( pageName === "myMenus" ) { %> class="burger-active" <% } %> href="/myMenus">My Menus</a></li>
                <% } %>
                <% if (username) { %>
                    <% console.log(username) %>
                    <% if (username === "admin") { %>
                        <li class="nav-item"><a <% if ( pageName === "All Users" ) { %> class="burger-active" <% } %> href="/users">Users</a></li>
                    <% } %>
                <% } %>
                <% if (!isLoggedIn) { %>
                    <li><a <% if ( pageName === "signup" ) { %> class="burger-active" <% } %> href="/signup">Sign Up</a></li>
                    <li><a <% if ( pageName === "login" ) { %> class="burger-active" <% } %> href="/login">Login</a></li>
                <% } else { %>
                    <li><a <% if ( pageName === "myProfile" ) { %> class="burger-active" <% } %> href="/profile">My Profile</a></li>
                    <li><a <% if ( pageName === "login" ) { %> class="burger-active" <% } %> href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </nav>
    </div>

    <script src="/js/modules/header.js"></script>
</header>