<header>
    <div class="header">
        <nav>
            <ul class="nav-links links1">
                <li class="logo-container"><img id="logo" src="img/comfort-food-logo.png" alt=""></li>
                <li><a <% if ( pageName === "index" ) { %> class="active" <% } %> href="../">Home</a></li>
                <li><a <% if ( pageName === "about" ) { %> class="active" <% } %> href="../about">About</a></li>
                <li><a <% if ( pageName === "contact" ) { %> class="active" <% } %> href="../contact">Contact</a></li>
                <li class="nav-item"><%- %></li>
            </ul>
            <ul class="nav-links links2">
                <li><a <% if ( pageName === "signup" ) { %> class="active" <% } %> href="../signup">Sign Up</a></li>
                <li><a <% if ( pageName === "login" ) { %> class="active" <% } %> href="../login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>