<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png"/>
    <title>Comfort Bank | About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div id="about-container" class="main-container">
            <div class="cards">
                <div class="card">
                    <h2></h2>
                </div>
                <div class="card">
                    <h2></h2>
                </div>
                <div class="card">
                    <h2></h2>
                </div>
            </div>
            <!-- <h1 id="about-heading" class="main-heading">Welcome To Comfort Banking!</h1>
            <p id="about-sub-heading" class="main-sub-heading">The smart and secure way to manage your finances.</p>
            <button class="button">Get Started</button> -->
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>