<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png"/>
    <title>Comfort Bank | About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div id="about-container" class="main-container">
            <h1 class="heading">Comfort Food Features</h1>
            <div class="cards">
                <div class="card">
                    <h2>Menu Managing</h2>
                    <p>Organize all of your different menus with the foods of your choice! Add as many menus and foods as your heart desires! create categories for anything such as breakfast, dinner, favorites, desserts, parties, etc.</p>
                    <a class="button" href="/myMenus">My Menus</a>
                </div>
                <div class="card">
                    <h2>Menu Security</h2>
                    <p>Do you have a delicious secret recipe and need a secure place to store it? Make any recipe private so no one else can see it except you! You can also share your private menus with peope of your choice to control who has access!</p>
                    <a class="button" href="/create-menu">Create A Menu</a>
                </div>
                <div class="card">
                    <h2>Food and Recipe Customization</h2>
                    <p>Choose which foods and recipes you want displayed. Sort them by name, date added, and more! Import Recipes from external sources such as google, or another API and have them be displayed on your Comfort Food menu!</p>
                    <a class="button">My Foods</a>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>