<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png"/>
    <title>Comfort Bank | Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div id="contact-container" class="main-container">
            <h1 id="contact-heading" class="main-heading">Need Assistance? No Problem!</h1>
            <p id="contact-sub-heading" class="main-sub-heading">Our 24/7 customer support team is ready to help.</p>
            <ul class="contact">
                <li>Phone: 808-123-4567</li>
                <li>Email: comfort.food@cf.com</li>
            </ul>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>