<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png"/>
    <title>Comfort Bank | Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <form class="form" id="login-form" action="/login" method="POST">
            <% if (error) { %>
                <p style="color: red;">Incorrect Credentials</p> 
            <% } %>
            <h1>Log In Form</h1>
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit" class="button" id="login-button">Log In</button>
            <p>Don't have an account? Register <a href="./signup">here</a>.</p>
            <p><a href="./login">Forgot password?</a>.</p>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>

    <script type="module" type="text/javascript" src="js/main.js"></script>
</body>
</html>