* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background: #e9e9e9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.button {
  background: #2c14a5;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #cecece;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.button:hover {
  cursor: pointer;
  background: #442ac7;
  color: #eeeeee;
  padding: 0.6rem 1.5rem;
}

.header {
  height: 10vh;
  min-height: 3.8rem;
  background: #2c14a5;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header, nav {
  width: 100%;
}

nav, .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  height: 5.5rem;
  width: auto;
}

.links1 {
  width: 40%;
  min-width: 25rem;
}

.links2 {
  width: 20%;
  min-width: 15rem;
}

.nav-links {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.nav-links li {
  list-style: none;
  font-size: 1.1rem;
  color: #cecece;
  font-weight: normal;
  padding: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-links li:hover {
  color: #eeeeee;
  font-size: 1.2rem;
}

.nav-links li a {
  color: #cecece;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2rem;
  color: #ff81e6 !important;
}

main {
  height: 90vh;
  min-height: 30rem;
}

main, .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 30%;
}

.main-heading {
  font-size: 3rem;
  color: #2e2e2e;
  font-weight: normal;
}

.main-sub-heading {
  font-size: 1.5rem;
  color: #2e2e2e;
  font-weight: normal;
}

/* Contact Styles */
#contact-container {
  min-height: 20rem;
}

#contact-heading {
  font-size: 3.5rem;
}

#contact-sub-heading {
  font-size: 2rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20vh;
}

.contact li {
  font-size: 1.5rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 70vh;
  -webkit-box-shadow: -8px 3px 25px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 3px 25px 1px rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.form h1 {
  padding: 0 0 1rem 0;
}

.form input {
  padding: 0.5rem 1rem;
  width: 60%;
  text-align: center;
  font-size: 1rem;
  border: 2px solid black;
}

#login-form {
  height: 45vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 300vh;
}

.users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-container {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  width: 100%;
  min-height: 15vh;
  padding: 0 1rem;
}

.user-container > * {
  margin: 0.5rem;
}
/*# sourceMappingURL=style.css.map */